*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
html {
	font-size: 62.5%;
}



body {
	margin: 0;
	box-sizing: border-box;
}

main {
	background-color: #1d1d1e;
	padding: 3rem 0;
}

.parallax-wrapper {
	overflow-y: hidden;
}

.parallax {
	background-image: url('https://placeimg.com/1000/400/tech');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
}

.row {
	max-width: 117rem;
	margin: 0 auto;
}

.parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

h1, h2,h3, p, span {
	margin: 0;
	color: #fff;
}

p,span {
	font-size: 1.6rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	margin-bottom: 2rem;
	font-size: 3rem;
}

h3 {
	font-size: 2.5rem;
	margin-bottom: 2.5rem;
}

#users_list {
	padding: 3rem 0;
}

.users_row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 30rem;
}

.users_row:not(:last-child) {
	margin-bottom: 5rem;
}
.user {
	opacity: 0;
	transition: opacity .4s;
	color: white;
	width: 30%;
}

.user .info {
	padding: 3.5rem 1rem;
	background-color: #55697e;
	border-radius: .5rem;
}

.user .info p:not(:last-child) {
	margin-bottom: 2.3rem;
}

.user .info p span {
	text-decoration: underline;
	font-weight: bold;
}

.fadeIn {
	opacity: 1;
}
